Prototype/Imap/ImapScreens/SampleData/BuildingSchedules/BuildingSchedules.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.BuildingSchedules" targetNamespace="Expression.Blend.SampleData.BuildingSchedules" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BuildingSchedules" type="tns:BuildingSchedules" />
  <xs:complexType name="BuildingSchedules">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Property1" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Property2" type="xs:string" />
    <xs:attribute name="Property3" type="xs:string" />
    <xs:attribute name="Property4" type="xs:string" />
  </xs:complexType>
</xs:schema>