WpfSpecDocVer/WpfPrototype3/WpfPrototype3Screens/DataStore/userId/userId.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.DataStore.userId" targetNamespace="Expression.Blend.DataStore.userId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="userId" type="tns:userId" />
  <xs:complexType name="userId">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="password" type="xs:string" />
    <xs:attribute name="isLoged" type="xs:boolean" />
  </xs:complexType>
</xs:schema>