WpfSpecDocVer/WpfPrototype3/WpfPrototype3Screens/DataStore/searchStatus/searchStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.DataStore.searchStatus" targetNamespace="Expression.Blend.DataStore.searchStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="searchStatus" type="tns:searchStatus" />
  <xs:complexType name="searchStatus">
    <xs:attribute name="idPlace" type="xs:double" />
    <xs:attribute name="index" type="xs:double" />
    <xs:attribute name="isShool" type="xs:boolean" />
  </xs:complexType>
</xs:schema>