WpfSpecDocVer/WpfPrototype3/WpfPrototype3Screens/SampleData/dataBase/dataBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.dataBase" targetNamespace="Expression.Blend.SampleData.dataBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataBase" type="tns:dataBase" />
  <xs:complexType name="dataBase">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="_Coordinate" type="tns:_Coordinate" />
    </xs:sequence>
    <xs:attribute name="_0index" type="xs:double" />
    <xs:attribute name="_2idPlace" type="xs:double" />
    <xs:attribute name="_1isSchool" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="..\..\image\logo" name="_Logo" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="..\..\image" name="_image360" type="tns:Basic-Image" />
    <xs:attribute name="_3line1NextToYou" type="xs:string" />
    <xs:attribute name="_6line2NextToYou" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,12" name="_PresentationText" type="xs:string" />
    <xs:attribute blend:Format="Address" name="_Adresse" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,12" name="_Website" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="_Phone" type="xs:string" />
    <xs:attribute name="_name" type="xs:string" />
    <xs:attribute name="_specialRoom" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="_Coordinate">
    <xs:attribute blend:FormatParameters="4" name="x" type="xs:double" />
    <xs:attribute blend:FormatParameters="4" name="y" type="xs:double" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>