Prototype/Imap/ImapScreens/DataStore/stateVar/stateVar.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.DataStore.stateVar" targetNamespace="Expression.Blend.DataStore.stateVar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stateVar" type="tns:stateVar" />
  <xs:complexType name="stateVar">
    <xs:attribute name="idSelectedPlace" type="xs:double" />
    <xs:attribute name="userName" type="xs:string" />
    <xs:attribute name="isLoged" type="xs:boolean" />
  </xs:complexType>
</xs:schema>