Prototype/Imap/ImapScreens/SampleData/DatabaseOfPlaces/DatabaseOfPlaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.DatabaseOfPlaces" targetNamespace="Expression.Blend.SampleData.DatabaseOfPlaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatabaseOfPlaces" type="tns:DatabaseOfPlaces" />
  <xs:complexType name="DatabaseOfPlaces">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="_1image" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="_0name" type="xs:string" />
    <xs:attribute blend:Format="Address" name="_2adress" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,12" name="_3descriptionText" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="phoneNumber" type="xs:string" />
    <xs:attribute name="LMJV" type="xs:string" />
    <xs:attribute name="Mercredi" type="xs:string" />
    <xs:attribute name="Samedi" type="xs:string" />
    <xs:attribute name="Dimanche" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="_0idPlace" type="xs:double" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>